.content {
  grid-area: main;
  border: 10px solid rgb(106, 243, 177);
}

body {
  border: none;
}

h2 {
  color: rgb(84, 58, 161);
  text-align: center;
}

p {
  padding: 20px;
  font-size: larger;
  color: rgb(132, 97, 238);
  justify-content: space-evenly;
}

#nestedGrid {
  padding: 10px;
  justify-content: space-around;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border: 10px;
}

.photobox {
  width: 250px;
  height: 135px;
  border: 5px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#one {
  background-image: url(https://cdn.pixabay.com/photo/2014/04/05/11/21/sewing-machine-315382_1280.jpg);
  border-color: rgb(146, 47, 47);
}

#two {
  background-image: url(https://cdn.pixabay.com/photo/2021/01/21/15/54/books-5937716_1280.jpg);
  border-color: rgb(215, 158, 44);
}

#three {
  background-image: url(https://cdn.pixabay.com/photo/2021/01/22/05/37/truck-5939158_1280.jpg);
  border-color: rgb(225, 164, 164);
}

#four {
  background-image: url(https://cdn.pixabay.com/photo/2017/01/11/10/25/headsets-1971383_1280.jpg);
  border-color: rgba(31, 78, 195, 0.541);
}
