.layout {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 600px;
  grid-gap: 10px;
  grid-template-areas:
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";

  border: 10px solid rgb(239, 209, 209);
}

section {
  text-align: center;
}

.avatar {
  height: 250px;
  width: 300px;
  object-fit: contain;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: hd;
  font-size: xx-large;
  color: rgb(225, 164, 164);
  border: 2px solid black;
}

.content {
  grid-area: main;
  border: 2px solid rgb(106, 243, 177);
  padding: 10px;
}

.footer {
  grid-area: ft;
  border: 2px solid rgb(106, 243, 177);
}
